[openstates]
api_key = **********

[postgres]
user = *********
password = *********
host = *********
port = *********
dbname = *********
sslmode = require

[postgresql_schemas]
snapshot_schema = *********
app_schema = *********
frontend_user = *********
backend_user = *********

[resources]
request_config = ********.yaml
default_timestamp = "2000-01-01T00:00:00"
session = *********

[slack]
webhook = *********
channel = *********
environment = *********