[openstates]
api_key = **********

[postgresql]
user = *********
password = *********
host = *********
port = *********
dbname = *********
sslmode = require

[postgresql_schemas]
openstates_schema = *********
legtracker_schema = *********